#brief-desc {
  font: bold 18px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.hero {
  background: skyblue;
  display: flex;
  justify-content: space-between;
}

.description {
  flex-grow: 0;
  max-width: 600px;
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
}

#hero-img {
  width: 200px;
  height: 100%;
  border-radius: 20px;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: stretch;
}

.photo-container {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #ccc;

  div {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .photo-container {
    flex-direction: column-reverse;
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: none;
    box-shadow: none;
    background: transparent;
  }
  .description {
    margin: 0 0 20px 0;
    max-width: 100%;
    text-align: center;
  }
  #hero-img {
    width: 100%;
    height: auto;
  }
}
